.hiddemComponent{
	display: none;
}

.showListElements, .test {
	display: flex;
	align-items: start;
	align-content: end;
	flex-wrap: wrap;
}

.test {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#navBar-box {
	max-height: 70px;
}

.listElements {
	display: flex;
	align-items: start;
	flex-direction: column;
}

#img404 {
	width: 750px;
	height: 750px;
}

#countItem, #countItem-dropdown {
	display: flex;
	align-items: center;
    justify-content: center;
	max-width: 70px;
    min-width: 23px;
	width: 23px;
	height: 23px;
}

.box-NavBar {
	background: #F8F9FA;
  	width: 100%;
  	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.cart-li-dropdown {
	width: 450px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: center;
	margin: 5px;
}

.dropdown-menu .cart-li-dropdown .cart-li-dropdown-title {
	width: 300px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.img-cart {
	width: 43px;
	height: 43px;
	border-radius: 50px;
}

.box-cart {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.box-count {
	border: 1px solid #198754;
	background: #F8F9FA;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	min-width: 150px;
	max-width: 200px;
	height: 25px;
	border-radius: 25px;
}

.element-count {
	width: 33%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.container-fluid .cards-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	margin-top: 30px;
}

.container-fluid .card-box {
	flex: 1 1 250px;
	margin: 10px;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid #D5DBDB;
	border-radius: 20px;
}

.container-fluid .detail-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.container-fluid .detail-card {
	flex: 1 1 95px;
	margin: 10px;
	padding: 10px;
}

.box-description {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:  space-around;
	align-items: center;
	align-content: center;
}

@media (max-width: 767px){
	
}




